In [1]:
# Import core libraries for data handling, visualization, and Dash app

import pandas as pd
from dash import Dash, dcc, html, Input, Output
import plotly.express as px
from databricks import sql
import plotly.io as pio

In [2]:
# Set default Plotly theme, color palettes, and font styling for consistency

px.defaults.template = "plotly_white"
px.defaults.color_continuous_scale = "Viridis"
px.defaults.color_discrete_sequence = ["#2E86C1", "#28B463", "#AF7AC5", "#F5B041", "#E74C3C"]

pio.templates.default = "plotly_white"
pio.templates["plotly_white"].layout.font.family = "Segoe UI"
pio.templates["plotly_white"].layout.font.size = 13
pio.templates["plotly_white"].layout.title.font.size = 20
pio.templates["plotly_white"].layout.title.font.family = "Segoe UI"

In [21]:
# Connect to Databricks SQL Warehouse and retrieve HR dataset

with sql.connect(
    server_hostname="dbc-e7a12703-b692.cloud.databricks.com",
    http_path="/sql/1.0/warehouses/2fdd68999763e1f8",
    access_token="dapib9e38d564313922d4e9b99f8dfeb50e1"
) as connection:
    query = """
        SELECT *
        FROM (
            SELECT
                f.employee_id,
                f.full_name,
                d.name  AS Department,
                j.name  AS Job_Title,
                f.hire_date AS Hire_Date,
                l.name  AS Location,
                f.performance_rating AS Performance_Rating,
                f.experience_years AS Experience_Years,
                s.name  AS Status,
                w.name  AS Work_Mode,
                f.annual_salary AS Salary_INR,
                jl.name AS Job_Level,
                ROW_NUMBER() OVER (PARTITION BY f.employee_id ORDER BY f.hire_date DESC) AS rn
            FROM workspace.applied_research_gold.fact_table_gold_hr_data AS f
                LEFT JOIN workspace.applied_research_gold.dim_department_gold AS d ON f.department_id = d.id
                LEFT JOIN workspace.applied_research_gold.dim_job_title_gold  AS j ON f.job_title_id  = j.id
                LEFT JOIN workspace.applied_research_gold.dim_location_gold   AS l ON f.location_id   = l.id
                LEFT JOIN workspace.applied_research_gold.dim_status_gold     AS s ON f.status_id     = s.id
                LEFT JOIN workspace.applied_research_gold.dim_work_mode_gold  AS w ON f.work_mode_id  = w.id
                LEFT JOIN workspace.applied_research_gold.dim_job_level_gold  AS jl ON f.job_level_id = jl.id
        ) t
        WHERE rn = 1
    """

    df = pd.read_sql(query, connection)

print("Data Loaded | Columns:", df.columns.tolist())

C:\Users\bermu\AppData\Local\Temp\ipykernel_972\338034735.py:36: UserWarning:

pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.

Data Loaded | Columns: ['employee_id', 'full_name', 'Department', 'Job_Title', 'Hire_Date', 'Location', 'Performance_Rating', 'Experience_Years', 'Status', 'Work_Mode', 'Salary_INR', 'Job_Level', 'rn']

In [22]:
# Handle missing values, convert datatypes, and add derived columns

df['Status'] = df['Status'].fillna('Active')
df['Department'] = df['Department'].fillna('Unknown')
df['Job_Level'] = df['Job_Level'].fillna('Unknown')
df['Job_Title'] = df['Job_Title'].fillna('Unknown')

df['Performance_Rating'] = pd.to_numeric(df['Performance_Rating'], errors='coerce')
df['Experience_Years'] = pd.to_numeric(df['Experience_Years'], errors='coerce')
df['Salary_INR'] = pd.to_numeric(df['Salary_INR'], errors='coerce')
df['Salary_$'] = df['Salary_INR'] / 83  # Convert INR to USD (approx.)
df['Hire_Date'] = pd.to_datetime(df['Hire_Date'], errors='coerce')

departments = sorted(df['Department'].unique())

In [23]:
# Define Dash layout including KPI header and interactive analytical tabs

app = Dash(__name__, meta_tags=[{"name": "viewport", "content": "width=device-width, initial-scale=1"}])

app.layout = html.Div([
    html.H2("HR Analytics Dashboard", style={"textAlign": "center", "marginTop": "20px"}),

    # KPI summary header (scrollable, not fixed)
    html.Div([
        html.Div([
            html.Div("üë•", style={"fontSize": "28px"}),
            html.H4("Total Employees", style={"color": "#666", "marginBottom": "0"}),
            html.H3(id="kpi-total-employees", style={"color": "#2E86C1"})
        ], style={"width": "30%", "textAlign": "center"}),

        html.Div([
            html.Div("üí∞", style={"fontSize": "28px"}),
            html.H4("Average Salary ($)", style={"color": "#666", "marginBottom": "0"}),
            html.H3(id="kpi-average-salary", style={"color": "#28B463"})
        ], style={"width": "30%", "textAlign": "center"}),

        html.Div([
            html.Div("‚è≥", style={"fontSize": "28px"}),
            html.H4("Average Experience (Years)", style={"color": "#666", "marginBottom": "0"}),
            html.H3(id="kpi-average-experience", style={"color": "#AF7AC5"})
        ], style={"width": "30%", "textAlign": "center"}),
    ], style={
        "display": "flex",
        "justifyContent": "space-around",
        "alignItems": "center",
        "margin": "20px auto",
        "backgroundColor": "#fdfdfd",
        "padding": "20px",
        "borderRadius": "12px",
        "boxShadow": "0 2px 8px rgba(0,0,0,0.1)",
        "width": "95%"
    }),

    # Dashboard tabs
    dcc.Tabs([
        # Tab 1 ‚Äî Turnover and retention
        dcc.Tab(label="Employee Turnover & Retention", children=[
            html.Div([
                html.Label("Select Department:", style={"fontWeight": "bold"}),
                dcc.Dropdown(
                    id="dept-dropdown",
                    options=[{"label": dept, "value": dept} for dept in departments],
                    placeholder="All Departments", clearable=True,
                    style={"width": "50%", "marginBottom": "10px"}
                ),
                html.Div(id="kpi-text", style={"textAlign": "center", "fontSize": "18px", "marginBottom": "20px", "color": "#444"}),
                dcc.Graph(id="turnover-chart")
            ], style={"backgroundColor": "white", "padding": "20px", "margin": "20px", "borderRadius": "10px", "boxShadow": "0 2px 6px rgba(0,0,0,0.1)"})
        ]),

        # Tab 2 ‚Äî Salary and compensation
        dcc.Tab(label="Salary and Compensation Trends", children=[
            html.Div([
                html.Label("Select Department:", style={"fontWeight": "bold"}),
                dcc.Dropdown(
                    id="salary-dept-dropdown",
                    options=[{"label": dept, "value": dept} for dept in departments],
                    placeholder="All Departments", clearable=True,
                    style={"width": "50%", "marginBottom": "10px"}
                ),
                dcc.Graph(id="salary-chart")
            ], style={"backgroundColor": "white", "padding": "20px", "margin": "20px", "borderRadius": "10px", "boxShadow": "0 2px 6px rgba(0,0,0,0.1)"})
        ]),

        # Tab 3 ‚Äî Performance vs experience
        dcc.Tab(label="Performance and Experience Relationship", children=[
            html.Div([
                html.Label("Select Department:", style={"fontWeight": "bold"}),
                dcc.Dropdown(
                    id="exp-perf-dropdown",
                    options=[{"label": dept, "value": dept} for dept in departments],
                    placeholder="All Departments", clearable=True,
                    style={"width": "50%", "marginBottom": "10px"}
                ),
                dcc.Checklist(
                    id="trendline-toggle",
                    options=[{"label": "Show Trendline", "value": "show"}],
                    value=[], inline=True, style={"fontSize": "14px", "marginBottom": "15px"}
                ),
                dcc.Graph(id="exp-perf-chart")
            ], style={"backgroundColor": "white", "padding": "20px", "margin": "20px", "borderRadius": "10px", "boxShadow": "0 2px 6px rgba(0,0,0,0.1)"})
        ]),

        # Tab 4 ‚Äî Workforce demographics
        dcc.Tab(label="Workforce Demographics and Headcount", children=[
            html.Div([
                html.Label("Select Work Mode:", style={"fontWeight": "bold"}),
                dcc.Dropdown(
                    id="workmode-dropdown",
                    options=[{"label": wm, "value": wm} for wm in sorted(df['Work_Mode'].dropna().unique())],
                    placeholder="All Work Modes", clearable=True,
                    style={"width": "50%", "marginBottom": "10px"}
                ),
                html.Div([
                    dcc.Graph(id="headcount-chart", style={"width": "60%", "display": "inline-block"}),
                    dcc.Graph(id="workmode-pie", style={"width": "38%", "display": "inline-block", "float": "right"})
                ])
            ], style={"backgroundColor": "white", "padding": "20px", "margin": "20px", "borderRadius": "10px", "boxShadow": "0 2px 6px rgba(0,0,0,0.1)"})
        ]),

        # Tab 5 ‚Äî Promotion and career progression
        dcc.Tab(label="Promotion and Career Progression", children=[
            html.Div([
                html.Label("Select Department:", style={"fontWeight": "bold"}),
                dcc.Dropdown(
                    id="promotion-dept-dropdown",
                    options=[{"label": dept, "value": dept} for dept in departments],
                    placeholder="All Departments", clearable=True,
                    style={"width": "50%", "marginBottom": "10px"}
                ),
                html.Div([
                    dcc.Graph(id="promotion-chart", style={"width": "55%", "display": "inline-block"}),
                    dcc.Graph(id="career-path-chart", style={"width": "43%", "display": "inline-block", "float": "right"})
                ])
            ], style={"backgroundColor": "white", "padding": "20px", "margin": "20px", "borderRadius": "10px", "boxShadow": "0 2px 6px rgba(0,0,0,0.1)"})
        ]),
    ])
], style={
    "backgroundColor": "#f5f6fa",
    "paddingBottom": "40px",
    "fontFamily": "Segoe UI"
})

In [24]:
# Define dashboard callbacks and run the Dash server

# Summary KPI callback
@app.callback(
    [Output("kpi-total-employees", "children"),
     Output("kpi-average-salary", "children"),
     Output("kpi-average-experience", "children")],
    Input("dept-dropdown", "value")
)
def update_summary_kpis(selected_dept):
    df_temp = df.copy()
    if selected_dept:
        df_temp = df_temp[df_temp['Department'] == selected_dept]
    total_employees = len(df_temp)
    avg_salary = df_temp['Salary_$'].mean()
    avg_experience = df_temp['Experience_Years'].mean()
    return (f"{total_employees:,}", f"${avg_salary:,.0f}", f"{avg_experience:.1f}")


# Callback 1 ‚Äî Turnover and Retention
@app.callback(
    [Output("turnover-chart", "figure"),
     Output("kpi-text", "children")],
    Input("dept-dropdown", "value")
)
def update_turnover_chart(selected_dept):
    df_temp = df.copy()
    if selected_dept:
        df_temp = df_temp[df_temp['Department'] == selected_dept]
        group_field = "Job_Level"
        title = f"Turnover Rate by Job Level ‚Äì {selected_dept}"
    else:
        group_field = "Department"
        title = "Turnover Rate by Department (Overall)"
    turnover_data = (
        df_temp.groupby(group_field)
        .agg(Total=('Status', 'size'),
             Resigned=('Status', lambda s: (s.str.lower() == 'resigned').sum()))
        .assign(Turnover_Rate=lambda x: x['Resigned'] / x['Total'] * 100)
        .reset_index()[[group_field, 'Turnover_Rate']]
    )
    total_turnover = (df_temp['Status'].str.lower() == 'resigned').sum() / len(df_temp) * 100
    kpi_text = f"Overall Turnover Rate: {total_turnover:.1f}%"
    fig = px.bar(
        turnover_data, x=group_field, y="Turnover_Rate",
        text=turnover_data["Turnover_Rate"].map("{:.1f}%".format),
        color="Turnover_Rate", title=title
    )
    fig.update_layout(title_x=0.5, margin=dict(l=60, r=40, t=80, b=60))
    return fig, kpi_text


# Callback 2 ‚Äî Salary and Compensation Trends
@app.callback(Output("salary-chart", "figure"),
              Input("salary-dept-dropdown", "value"))
def update_salary_chart(selected_dept):
    df_temp = df.copy()
    if selected_dept:
        df_temp = df_temp[df_temp['Department'] == selected_dept]
        df_salary = df_temp.groupby(df_temp['Hire_Date'].dt.to_period('Y'))['Salary_$'].mean().reset_index()
        df_salary['Hire_Date'] = df_salary['Hire_Date'].astype(str)
        fig = px.line(df_salary, x='Hire_Date', y='Salary_$', markers=True,
                      title=f"Average Salary Over Time ‚Äì {selected_dept}")
    else:
        df_salary = (df.groupby('Department')['Salary_$']
                     .mean()
                     .reset_index()
                     .sort_values('Salary_$', ascending=False))
        fig = px.bar(df_salary, x="Department", y="Salary_$",
                     text=df_salary["Salary_$"].map("${:,.0f}".format),
                     color="Salary_$", title="Average Salary by Department")
    fig.update_layout(title_x=0.5, margin=dict(l=60, r=40, t=80, b=60))
    return fig


# Callback 3 ‚Äî Performance and Experience Relationship
@app.callback(Output("exp-perf-chart", "figure"),
              [Input("exp-perf-dropdown", "value"),
               Input("trendline-toggle", "value")])
def update_exp_perf_chart(selected_dept, trendline_toggle):
    df_temp = df.copy()
    if selected_dept:
        df_temp = df_temp[df_temp['Department'] == selected_dept]
        title = f"Experience vs Performance ‚Äì {selected_dept}"
    else:
        title = "Experience vs Performance (All Departments)"
    grouped = (
        df_temp.groupby("Job_Title")
        .agg({
            "Experience_Years": "mean",
            "Performance_Rating": "mean",
            "Salary_$": "mean",
            "Job_Level": "first",
            "Department": "first"
        })
        .reset_index()
    )
    trendline_opt = "ols" if "show" in trendline_toggle else None
    fig = px.scatter(
        grouped, x="Experience_Years", y="Performance_Rating",
        color="Job_Level" if selected_dept else "Department",
        hover_name="Job_Title", trendline=trendline_opt, title=title
    )
    fig.update_layout(title_x=0.5, margin=dict(l=60, r=40, t=80, b=60))
    return fig


# Callback 4 ‚Äî Workforce Demographics and Headcount
@app.callback(
    [Output("headcount-chart", "figure"),
     Output("workmode-pie", "figure")],
    Input("workmode-dropdown", "value")
)
def update_workforce_charts(selected_workmode):
    df_temp = df.copy()
    if selected_workmode:
        df_temp = df_temp[df_temp["Work_Mode"] == selected_workmode]
        title_suffix = f" ‚Äì {selected_workmode}"
    else:
        title_suffix = ""
    dept_counts = df_temp.groupby("Department").size().reset_index(name="Headcount")
    workmode_counts = df_temp.groupby("Work_Mode").size().reset_index(name="Count")
    fig_bar = px.bar(
        dept_counts, x="Department", y="Headcount", text="Headcount",
        color="Headcount", title=f"Headcount by Department{title_suffix}"
    )
    fig_pie = px.pie(
        workmode_counts, names="Work_Mode", values="Count", hole=0.4,
        title=f"Work Mode Distribution{title_suffix}",
        color_discrete_sequence=px.colors.qualitative.Set2
    )
    fig_bar.update_layout(title_x=0.5, margin=dict(l=60, r=40, t=80, b=60))
    fig_pie.update_layout(title_x=0.5, margin=dict(l=20, r=20, t=80, b=60))
    return fig_bar, fig_pie


# Callback 5 ‚Äî Promotion and Career Progression
@app.callback(
    [Output("promotion-chart", "figure"),
     Output("career-path-chart", "figure")],
    Input("promotion-dept-dropdown", "value")
)
def update_promotion_charts(selected_dept):
    df_temp = df.copy()
    if selected_dept:
        df_temp = df_temp[df_temp["Department"] == selected_dept]
        title_suffix = f" ‚Äì {selected_dept}"
    else:
        title_suffix = ""
    promotion_counts = (df_temp.groupby("Job_Level")
                        .size()
                        .reset_index(name="Employee_Count"))
    career_path = (df_temp.groupby("Job_Level")["Experience_Years"]
                   .mean()
                   .reset_index()
                   .sort_values("Experience_Years"))
    fig_bar = px.bar(
        promotion_counts, x="Job_Level", y="Employee_Count",
        text="Employee_Count", color="Employee_Count",
        title=f"Employee Distribution by Job Level{title_suffix}"
    )
    fig_line = px.line(
        career_path, x="Job_Level", y="Experience_Years", markers=True,
        title=f"Average Experience by Job Level{title_suffix}",
        color_discrete_sequence=["#2E86C1"]
    )
    fig_bar.update_layout(title_x=0.5, margin=dict(l=60, r=40, t=80, b=60))
    fig_line.update_layout(title_x=0.5, margin=dict(l=60, r=40, t=80, b=60))
    return fig_bar, fig_line

In [25]:
# Run Server
if __name__ == "__main__":
    app.run_server(debug=True, jupyter_mode='external', port=8053)

Dash app running on http://127.0.0.1:8053/

In [9]:
df

,employee_id,full_name,Department,Job_Title,Hire_Date,Location,Performance_Rating,Experience_Years,Status,Work_Mode,Salary_INR,Job_Level
0,EMP0022876,Ashley Reyes,Marketing,Marketing Executive,2017-12-26,"Oliviamouth, South Africa",3,7,Resigned,Remote,60568.50000,Analyst
1,EMP0390941,Cynthia Bishop,R&D,DevOps Engineer,2015-10-20,"North Donville, Kyrgyz Republic",2,9,Active,On-site,63667.00000,Manager
2,EMP1503340,Janice Hale,IT,Logistics Coordinator,2013-08-10,"Josephfort, France",5,12,Active,On-site,104173.55625,Principal
3,EMP1034489,Jennifer Davis,Sales,Sales Executive,2024-03-23,"Lake Markmouth, Guyana",1,1,Active,On-site,91194.70140,Specialist
4,EMP1365963,Robert Deleon,IT,Data Analyst,2021-01-22,"Kaylaland, Denmark",4,4,Active,On-site,147448.95883,Analyst
...,...,...,...,...,...,...,...,...,...,...,...,...
545461,EMP1499680,Chase Russell,IT,Software Engineer,2032-05-01,"Lake Ashleystad, Tunisia",2,12,Active,Remote,132316.37500,Specialist
545462,EMP1468794,Dakota Hardy,HR,HR Executive,2032-05-01,"East Jason, Ireland",1,5,Active,Remote,50542.62500,Specialist
545463,EMP1698897,Ryan Cook,Marketing,Marketing Executive,2032-05-01,"South Ericton, Moldova",2,7,Active,On-site,108716.62500,Specialist
545464,EMP0544047,Timothy Hayes,IT,IT Manager,2032-05-01,"Stevenstad, Ireland",1,1,Active,On-site,199327.25000,Specialist
545465,EMP1307517,Sarah Baker,IT,Software Engineer,2032-05-01,"Heidiport, Iraq",3,8,Active,On-site,118430.50000,Specialist

In [16]:
df

,employee_id,full_name,Department,Job_Title,Hire_Date,Location,Performance_Rating,Experience_Years,Status,Work_Mode,Salary_INR,Job_Level
0,EMP0561830,Benjamin Todd,R&D,Research Scientist,2018-12-17,"Breannaport, Peru",3,6,Resigned,On-site,82649.875000,Analyst
1,EMP0276106,Laura Hall,Sales,Sales Executive,2020-10-20,"South Brettview, Togo",1,4,Active,On-site,52054.375000,Analyst
2,EMP0111922,Hannah Gonzalez,Marketing,SEO Specialist,2012-05-26,"Harrisfurt, Maldives",4,13,Retired,Remote,53997.500000,Principal
3,EMP1985222,Felicia Baker,Marketing,Marketing Executive,2013-11-10,"Benitezside, Lao People's Democratic Republic",5,11,Resigned,Remote,102541.000000,Manager
4,EMP1847658,Richard Heath,Marketing,Brand Manager,2012-05-17,"Jonesville, Burundi",3,13,Resigned,Remote,84809.875000,Principal
...,...,...,...,...,...,...,...,...,...,...,...,...
28820,EMP0812206,Stephen Hanson,Marketing,Marketing Executive,2023-09-26,"Escobarfurt, Kiribati",5,1,Active,Remote,149177.609807,Manager
28821,EMP0723764,Tamara Rowland,R&D,Sales Executive,2021-02-06,"Beanstad, Fiji",5,4,Active,Remote,89338.664846,Principal
28822,EMP1566970,Alison Ellis,Finance,Operations Executive,2028-05-01,"North Leslie, Uzbekistan",3,4,Active,Remote,118436.000000,Specialist
28823,EMP1934297,Jennifer Russell,Finance,Innovation Manager,2029-05-01,"North Paul, Gabon",2,0,Active,On-site,55774.125000,Specialist
28824,EMP1373245,Kevin Rosario,R&D,Content Strategist,2029-09-01,"Lake Shawnaton, Niger",5,4,Active,On-site,102249.250000,Specialist